:root {
  --aside-bg-color: #1992d4;
  --main-bg-color: #e2e8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* *****************************************
ASIDE
******************************************** */

aside {
  background-color: var(--aside-bg-color);
  padding: clamp(1rem, 1vw + 0.6rem, 2.4rem);

  display: flex;
  flex-direction: column;
}
aside .logo,
.tabs,
.add-tabs {
  color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  gap: 1rem;
}

aside .add-tabs {
  margin-top: auto;
}

aside .tabs-svg,
.logo-svg {
  display: flex;
  align-items: center;
  gap: max(0.6rem, 1vw);

  font-size: clamp(1rem, 1vw + 0.1rem, 1.2rem);
  line-height: clamp(1rem, 1vw + 0.6rem, 1.7rem);
}

aside .logo-svg p {
  display: flex;
  align-items: center;
  gap: max(1rem, 1.2vw);

  font-size: clamp(1.2rem, 1vw + 0.5rem, 2rem);
}

aside svg {
  width: clamp(18px, 1vw + 1rem, 28px);
}

aside a {
  color: #ffffff;
  text-decoration: none;
}

aside a:hover {
  color: #86d0f8;
}

.logo a {
  font-size: 20px;
  font-weight: 700;
}

.logo svg {
  width: clamp(24px, 1vw + 1rem, 34px);
}

.logo-svg {
  justify-self: center;
}

.container {
  display: grid;
  grid-template-rows: 130px;
}

/* *****************************************
HEADER
******************************************** */

header {
  background-color: #ffff;

  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 1rem 2rem 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}
header .search {
  width: 100%;

  grid-column: span 3;
  display: flex;
  align-items: center;
  gap: 1rem;
}
input {
  width: 100%;
  max-width: 500px;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 100px;
  height: 1.4rem;
}

header .input {
  width: 100%;
}

header .profile-end {
  grid-column: 5/7;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-text {
  font-size: 0.8rem;
  font-weight: bold;
}

header .profile-end img {
  margin: 0 1rem 0 2rem;
}

header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

header .main-img img {
  width: 60px;
  height: 60px;
}

header .main-profile {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  grid-column: -7/-4;
}

header .text {
  font-size: 0.8rem;
}
.name-main {
  font-size: 1rem;
  font-weight: 500;
}

header .buttons {
  grid-column: -4/-1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

header button {
  background-color: var(--aside-bg-color);
  color: #ffffff;
  border: none;
  width: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: 0.6rem;
  font-weight: 600;
  transition: 0.1s;
}
header button:hover {
  background-color: #74ceff;
  cursor: pointer;
}

/* *****************************************
MAIN
******************************************** */

main {
  background-color: var(--main-bg-color);
  height: calc(100vh - 120px);
  overflow: scroll;
}

.main-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 4fr 1.5fr;
  padding: 1rem clamp(1rem, 5%, 3rem);
}

.main-container .main-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.main-container .main-card .card {
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.176);
  border-left: 8px solid #ffd600;
  border-radius: 8px;
  padding: 1rem clamp(1rem, 5%, 3rem);
  height: 200px;

  display: flex;
  flex-direction: column;
}

.main-container .main-card .card .card-icons {
  margin-top: auto;
  text-align: end;
}

.main-container .main-card .card .card-icons a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: black;
}
.main-container .main-card .card .card-icons svg {
  width: 20px !important;
}

.main-container .main-card h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.main-container .main-card p {
  font-size: 0.9rem;
}

/* addition-card */
.main-container .addition-card-grid {
  display: grid;
}

.main-container .trending:nth-child(1) {
  margin-bottom: 0.8rem;
}

.main-container .trending {
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.176);
  border-radius: 8px;
  padding: 1rem clamp(1rem, 5%, 3rem);
  height: 315px;
}

.main-container .trending h3 {
  font-size: 0.8rem;
  margin: 0.5rem 0 0.2rem 0;
}
.main-container .trending p {
  font-size: 0.8rem;
}

@media screen and (max-width: 1260px) {
  .main-container .trending h3 {
    font-size: 0.6rem;
  }
  .main-container .trending p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 960px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-container .addition-card-grid {
    display: none;
  }
  .main-container .addition-card p {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header .buttons {
    grid-column: -6 / span 4;
    justify-content: center;
  }
  header .main-profile {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  body {
    grid-template-columns: 1fr;
  }
  .main-container .main-card {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
    position: absolute;
    height: 100vh;
    z-index: 2;
  }
}
