:root {
  --aside-bg-color: #1992d4;
  --main-bg-color: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  touch-action: pan-x pan-y;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  touch-action: pan-x pan-y;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* *****************************************
ASIDE
******************************************** */

aside {
  background: linear-gradient(315deg, #1da1e8, #2581b4);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
  padding: clamp(1rem, 1vw + 0.6rem, 2.4rem);

  display: flex;
  flex-direction: column;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}

aside .logo,
.tabs,
.add-tabs {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .add-tabs {
  margin-top: auto;
}

aside .tabs-svg,
.logo-svg {
  display: flex;
  align-items: center;
  gap: max(0.6rem, 1vw);

  font-size: clamp(1rem, 1vw + 0.1rem, 1.2rem);
  line-height: clamp(1rem, 1vw + 0.6rem, 1.7rem);
}

aside .logo-svg p {
  display: flex;
  align-items: center;
  gap: max(1rem, 1.2vw);

  font-size: clamp(1.2rem, 1vw + 0.5rem, 2rem);
}

aside svg {
  width: clamp(18px, 1vw + 1rem, 28px);
}

aside a {
  color: #ffffff;
  text-decoration: none;
}

aside a:hover {
  color: #86d0f8;
}

.logo a {
  font-size: 20px;
  font-weight: 700;
}

.logo svg {
  width: clamp(24px, 1vw + 1rem, 34px);
}

.logo-svg {
  justify-self: center;
}

.container {
  display: grid;
  grid-template-rows: 150px;
}

/* *****************************************
HEADER
******************************************** */

header {
  background-color: #ffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem 0.5rem 2rem;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-items: center;

  position: relative;
}
header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .burger {
  display: none;
}

header .search {
  width: 100%;
  grid-column: span 3;

  display: flex;
  align-items: center;
  gap: 1rem;
}
input {
  width: 100%;
  max-width: 500px;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 100px;
  height: 2rem;
}

input::placeholder {
  padding-left: 2vw;
  color: rgb(170, 170, 170);
}

header .input {
  width: 100%;
}

header .profile-end {
  grid-column: 5/7;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: end;
}

header .profile-text {
  font-size: 1rem;
  font-weight: bold;
}

header .profile-end img {
  margin: 0 1rem 0 2rem;
  width: 50px !important;
  height: 50px !important;
}

header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

header .main-img img {
  width: 60px;
  height: 60px;
}

header .main-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;

  grid-column: -7/-4;
}

header .text {
  font-size: 0.8rem;
}
header .name-main {
  font-size: 1rem;
  font-weight: 500;
}

header .buttons {
  grid-column: -4/-1;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

header button {
  background-color: var(--aside-bg-color);
  color: #ffffff;
  border: none;
  width: 8rem;
  height: 2.2rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.1s;
}
header button:hover {
  background-color: #74ceff;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}

.hidden {
  display: none;
}

/* *****************************************
MAIN
******************************************** */

main {
  background-color: var(--main-bg-color);
  height: calc(100vh - 120px);
  overflow: scroll;
}

.main-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 4fr 1.5fr;
  padding: 5vw;
}

.main-container .main-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.main-container .main-card-grid p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.main-container .main-card .card {
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.176);
  border-left: 8px solid #ffd600;
  border-radius: 8px;
  padding: 1rem clamp(1rem, 5%, 3rem);
  height: 200px;

  display: flex;
  flex-direction: column;
}

.main-container .card-icons {
  margin-top: auto;
  text-align: end;
}

.main-container .card-icons a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: black;
}
.main-container .card-icons svg {
  width: 20px !important;
}

.main-container .main-card h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.main-container .main-card p {
  font-size: 1rem;
}

/* addition-card */
.addition-card-grid-trending {
  display: none;
}
.main-container .addition-card-grid {
  display: grid;
}
.main-container .addition-card p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.main-container .trending:nth-child(1) {
  margin-bottom: 0.8rem;
}

.main-container .trending {
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.176);
  border-radius: 8px;
  padding: 1rem clamp(1rem, 5%, 3rem);
  height: 308px;
  border-left: 10px solid #1992d4;
}

.main-container .red-border {
  border-left: 10px solid #ff9264;
}

.main-container .trending h3 {
  font-size: 0.8rem;
  margin: 0.5rem 0 0.2rem 0;
}
.main-container .trending p {
  font-size: 0.7rem;
}

@media screen and (max-width: 1360px) {
  .main-container .trending h3 {
    font-size: 0.65rem;
  }
  .main-container .trending p {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 1070px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-container .addition-card-grid {
    display: none;
  }
  .main-container .addition-card p {
    display: none;
  }
  .addition-card-grid-trending {
    display: block;
    margin-top: 1rem;
  }

  .main-container .trending {
    max-height: 200px;
    margin-bottom: 1rem;
  }
  .main-container .trending h3 {
    font-size: 1rem;
  }
  .main-container .trending p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 920px) {
  .main-container .main-card {
    grid-template-columns: 1fr;
  }
  header .buttons {
    grid-column: -7 / -1;
    justify-content: center;
    /* width: 19rem; */
    height: 2.2rem;
  }
  header .main-profile {
    display: none;
  }
  header .profile-end {
    grid-column: 4/7;
  }
  input {
    height: 1.6rem;
  }

  .container {
    grid-template-rows: 130px;
  }
}

@media screen and (max-width: 680px) {
  body {
    grid-template-columns: 1fr;
  }
  .main-container .main-card {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
    padding: 1.6rem;
    width: 62%;
    position: absolute;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
  }

  .logo-svg svg {
    display: none;
  }

  aside .tabs-svg,
  .logo-svg {
    gap: 0.6rem;

    font-size: 1.2rem;
    line-height: 2rem;
  }

  aside .logo-svg p {
    font-size: 1.6rem;
  }

  aside svg {
    width: 25px !important;
  }
  .hide {
    display: block;
  }

  header {
    padding: 0.6rem;
  }
  header .profile-end {
    grid-column: 5/7;
  }

  header .profile-text {
    display: none;
  }
  .burger svg {
    width: 40px !important;
    height: 40px !important;
  }
  header .burger {
    display: block;
  }
  header .burger:hover {
    cursor: pointer;
  }

  header .profile-end img {
    margin: 0 1rem 0 1rem;
  }

  .main-container .main-card h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .main-container .main-card p {
    font-size: 1.1rem;
  }

  .main-container .trending h3 {
    font-size: 1rem;
  }
  .main-container .trending p {
    font-size: 0.82rem;
  }

  a.logo-svg {
    justify-content: start;
  }
  .logo .logo-svg p {
    font-size: 2rem;
  }
}
